{
  "plugins": [
    "react"
  ],
  "ecmaFeatures": {
    "ecmascript": 6,
    "jsx": true
  },
  "rules": {
    "react/no-multi-comp": 1,
    "react/prop-types": 1,
    "react/display-name": 1,
    "react/wrap-multilines": 1,
    "react/self-closing-comp": 1
  },
  "settings": { "jsx": true }, // had to add this
  "valid-syntax": [2, { "jsx": true }],
}