button:focus {outline:0!important;}

.logo a:hover {
  color: #262626;
}

.strong {
  font-weight: 400;
}

.m0 {
  margin: 0;
}

.mb0 {
  margin-bottom: 0;
}

.mt10 {
  margin-top: 10px;
}

.p20 {
  padding: 20px;
}

.al {
  text-align: left;
}

.ar {
  text-align: right;
}

.ac {
  text-align: center;
}

.rar {
  text-align: right;
}

.small {
  font-size: 12px;
}

.overflow{
  white-space: nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
}

.ellipsis {
  text-overflow: overflow;
  overflow: hidden;
}

.ellipsis-txt {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

ul.list-img-prev {
  margin-top: 10px;
  margin-bottom: 0;
}

ul.list-img-prev li {
  margin-right: 10px;
  font-size: 12px;
  width: 100px;
}

.clickable {
  cursor: pointer;
}

.bg-odd {
  background-color: #f7f7f7;
  padding: 10px;
}

.btn-more {
  text-decoration: none!important;
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .rar {
    text-align: left;
  }
}